<h2>Resume of {{model.firstName}} {{model.lastName}}.</h2>
<p>
    <button class="btn btn-default" ng-click="back()">
        <i class="fa fa-arrow-left fa-lg"></i> Resume List
    </button>
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>First Name:</label>

                <p class="form-control-static">{{model.firstName}}</p>
            </div>
            <div class="form-group">
                <label>Last Name:</label>

                <p class="form-control-static">{{model.lastName}}</p>
            </div>
            <button class="btn btn-primary" ng-click="edit()">
                <i class="fa fa-pencil fa-lg"></i> Edit
            </button>
            <button class="btn btn-danger" ng-click="remove()">
                <i class="fa fa-trash-o fa-lg"></i> Delete
            </button>
        </form>
    </div>
</div>